<template>
<div class="component email-collection-stripe" :style="componentStyle">
  <div class="heading-container"><slot name="heading"></slot></div>
  <div class="subheading-container"><slot name="subheading"></slot></div>
  <div class="blurb"><slot name="blurb"></slot></div>

  <div class="email-input-container" style="display: flex; height: 4em; margin-top: 2em;">
    <!-- keydown.enter (instead of keyup) so that pressing enter to close the alert does not trigger it to pop up again -->
    <input type="email"
           v-model="email"
           @keydown.enter.prevent="handleMailingListSignup"
           placeholder="you@email.com"
           :style="inputStyle"></input>
    <button :style="buttonStyle" @click="handleMailingListSignup">
      {{ ctaButtonText }}
    </button>
  </div>
</div>
</template>

<script lang="ts">
  import Vue from "vue";
import { MailingListServiceURI } from "../../types";
import { getSADEElement } from "../../sade";

export default {
  name: "EmailCollectionStripe",

  props: {
    mailingListSvc: {
      type: String,
      required: true,
    },

    ctaButtonText: {
      type: String,
      default: "Button",
      required: true,
    },
  },

  data() {
    return {
      email: "",

      componentStyle: {
        padding: "5em 3em",
        backgroundColor: "#DDD",
        display: "flex",
        flexDirection: "column",
        alignItems: "center",
      },
      inputStyle: {
        fontSize: "1.25em",
        paddingLeft: "1.25em",
        marginTop: 0,
        marginBottom: 0,
        marginRight: 0,
        minWidth: "20em",
        borderTopRightRadius: 0,
        borderBottomRightRadius: 0,
        borderBottomLeftRadius: "0.5em",
        borderTopLeftRadius: "0.5em",
        border: "1px solid #AAA",
      },
      buttonStyle: {
        cursor: "pointer",
        height: "100%",
        background: "linear-gradient(#283e51, #1d2e3c)",
        fontSize: "1.25em",
        color: "white",
        marginLeft: "-1px",
        paddingLeft: "1em";
        paddingRight: "1em";
        borderBottomLeftRadius: 0,
        borderBottomRightRadius: "0.5em",
        borderTopRightRadius: "0.5em",
        borderTopLeftRadius: 0,
        border: "1px solid #AAA",
      },

      _mailingListSvc: null,
    };
  },

  async mounted() {
    // Look up the SADE email service
    this._mailingListSvc = await getSADEElement({
      selector: this.mailingListSvc,
      requiredURIs: [ MailingListServiceURI ],
    });
  },

  methods: {
    handleMailingListSignup() {
      this._mailingListSvc.addNewSubscriber(
        "landing-page",
        this.email,
      );
   },
  },

}
</script>
