<svelte:options tag="brand-footer"/>

<div class="component brand-footer">

  <div class="brand-container">
    <h1 class="brand">{ brand }</h1>
  </div>

  <div class="link-container">
    <div class="link-column corporate">
      <strong class="title">Corporate</strong>
      {#each corporateLinks as link}
        <a href={link.href}>{link.text}</a>
      {/each}
    </div>
    <div class="link-column legal">
      <strong class="title">Legal</strong>
      {#each legalLinks as link}
        <a href={link.href}>{link.text}</a>
      {/each}
    </div>
  </div>

  <div class="bottom">(None of above links go anywhere)</div>

</div>

<style>
  .component.brand-footer {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5em 3em;
    background-color: #333;
    color: white;
  }

  .component.brand-footer .brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .component.brand-footer h1.brand {
    font-weight: 300;
  }

  .component.brand-footer .link-container {
    display: flex;
    justify-content: left;
    margin-left: 4em;
  }

  .component.brand-footer .link-column {
    display: flex;
    flex-direction: column;
    margin: 0 5em;
  }

  .component.brand-footer .link-column .title {
    margin-bottom: 1.5em;
  }

  .component.brand-footer .link-column a {
    color: inherit;
    text-decoration: none;
    margin-bottom: 0.5em;
  }

  .component.brand-footer .link-column a:hover {
    text-decoration: underline;
  }

  .component.brand-footer .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
  }
</style>

<script>
  import { onMount } from "svelte";
  import { KeyValueServiceURI } from "../../types";
  import { getSADEElement } from "../../sade";

  export let brand = "Brand";
  export let kvsvc = undefined;
  export let corporatelinkskey = "corporateLinks";
  export let legallinkskey = "legalLinks";

  let corporateLinks = [];
  let legalLinks = [];

  let _kvSvc;

  onMount(async () => {
    // Get the key value storage SADE component
    _kvSvc = await getSADEElement({
      selector: kvsvc,
      requiredURIs: [ KeyValueServiceURI ],
    });

    // Populate the links from the KV service
    corporateLinks = _kvSvc.get(corporatelinkskey);
    legalLinks = _kvSvc.get(legallinkskey);
  });
</script>
